body{
    background-color:salmon;
    /* background-image: url('image/beach.jpg'); */
}
.notice{
    color:white;
}
.cookieImg{
    display:inline-block;
    margin: 0 auto;
    width: 500px;
}
.knifeImg{
    width: 120px;
    cursor: pointer;
}
.replayImg{
    width: 120px;
    cursor: pointer;
}
